.navbar-main{
    display: block;
    align-items: center;
    background-color: rgb(50 52 52);
    width: auto;
    height: 15vh;
}
.navbar-heading{
    color: aliceblue;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}